body{
    background-image: url('deep.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
  /*responsive topnav*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.392);
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgba(0, 0, 0, 0.24);
  color: rgb(255, 250, 250);
}
.topnav a.active {
  background-color: #04aa6d9f;
  color: white;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*side navigation*/
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: none;
  color: rgb(255, 250, 250);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.logo a{
  text-decoration: none;
  text-align: center;
  font-size: 50px;
  padding-top: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.logo {
  font-size: 1em;
}

/*/////////////slide show////////////*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none }
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width:700px;
  position: relative;
  margin: auto;
}
.mySlides img{
  border-radius: 20px;
 
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 4px 8px;
  position: absolute;
  bottom: 4px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/*//////////bubble animation///////////*/
.bubbles img{
    width: 50px;
    animation: bubbles 7s linear infinite;

}
.bubbles{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: absolute;
   bottom: -70px;
}
@keyframes bubbles{
   0%{
        transform: translateY(0);
        opacity: 0;
   }
   50%{
    
    opacity: 1;
   }
   70%{
    
    opacity: 1;
   }
   100%{
    transform: translateY(-80vh);
    opacity: 0;
     }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
  animation-delay: 1s;
}
.bubbles img:nth-child(3){
  animation-delay: 3s;
  width: 25px;
}
.bubbles img:nth-child(4){
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
  animation-delay: 3s;
}
.bubbles img:nth-child(6){
  animation-delay: 6s;
  width: 20px;
}
.bubbles img:nth-child(7){
  animation-delay: 7s;
  width: 35px;
}

/*parallex*/

span.border {
  background-color:#412b70;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  letter-spacing: 2px;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  border-color: #606060c2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.388), 0 6px 20px 0 rgba(0, 0, 0, 0.284);
}
@media only screen and (max-width: 600px){
  span.border{
    font-size: 15px;
    padding: 3px;
  }
}

/*border-w-shadow*/
.border-w-shodow{
  border-style: solid;
  border-width: 2px;
  border-color: #424141c2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.388), 0 6px 20px 0 rgba(0, 0, 0, 0.284);
}

/*parallex effect*/
body, html {
  height: 100%;
  
  font: 400 15px/1.8 "Lato", sans-serif;

}

.parallax1, .parallax2, .parallax3{
  /* The image used */
 

  position: relative; 
 

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.parallax1{
  background-image: url('deep.jpg');
}
.parallax2{
  background-image: url('pqr.jpg');
}
.parallax3{
  background-image: url('deep.jpg');
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 1px;
} 
/*our team member*/
.team-section
{
	background: #f1f2f6;
	text-align: center;
}

.inner-width
{
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	color: #333;
	overflow: hidden;
}

.team-section h1
{
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4px solid;
	padding-bottom: 10px;
}

.pe
{
	float: left;
	width: calc(100% / 3);
	overflow: hidden;
	padding: 40px 0;
	transition: 0.4s;
}

.pe:hover
{
	background: #dfe4ea;
}

.pe img
{
	width:250px;
	height: 250px;
	border-radius: 50%;
}

.p-name
{
	margin: 5px;
	text-transform: uppercase;
}

.p-des
{
	font-style: italic;
	color: #3498db;
}

.p-sm
{
	margin-top: 6px;
}

.p-sm a
{
	margin: 0 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.4s;
}

.p-sm a:hover
{
	transform: scale(1.3);
}

.p-sm a i
{
	color: #333;
	line-height: 30px;
}

@media screen and (max-width: 960px) {
	.pe{
		width: 45%;
	}
}
@media screen and (max-width: 768px) {
	.pe{
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.pe{
		width: 100%;
	}
}
/*contact us*/

.container {
  background: #F8F8F8;
  width: 900px;
  height: 650px;
  margin: 5% auto;
  box-shadow: 0px 0px 10px #C8C7D9;
  position: relative;
}
.container .map {
  width: 45%;
  float: left;
}
.container .contact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
}
.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}
.container .contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #F8F8F8;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}